
<h1>LISTA DE FRUTAS</h1>

<ul>
   @foreach(var item in ViewBag.frutas)
   {
    <li>
    ID: @item.ID <br>
    Nome da Fruta: @item.Nome <br>
    Preço: @item.Preco <br>
    Quantidade: @item.Quantidade <br>
    Categoria: @item.Categoria <br>
    </li>
   }
</ul>